/*Beginning of <nav>*/
.navbar a {
  color: #fff;
}
.navbar-toggle {
  background-color: #f7f7f7;
}
.navbar-toggle .icon-bar {
  background-color: #545454;
}

.navbar-nav>li>a {
  font-size: 1.3em;
}

.nav>li>a:focus, .nav>li>a:hover {
  background-color: transparent;
}

@media (max-width: 700px) {
  .navbar-nav>li {
    font-weight: bold;
    text-align: center;
    background-color: #333;
    border-top: 1px white solid;
  }
  div.navbar-header > a {
  font-size: 1.2em;
  }
  #header {
    font-size: 10px;
  }
}

.navbar-header>a {
  font-size: 1.5em;

}

/* Beginning of <body> */

#header {
    position: relative;
    height: 300px;
    width: 100%;
    overflow: hidden;
  }

#header .slide {
  position: absolute;
  height: 100%;
  width: 5400px;
  background: url("/img/science.png") repeat-x;
  height: 300px;
  width: 3000px;
  animation: slide 60s linear infinite;
}

@keyframes slide {
  0% {
    transform: translate3d(0, 0, 0);
    }
  100% {
    transform: translate3d(-1692px, 0, 0);
      }
}

.quoteText {
  padding: 0 30px 0 30px;
  position: absolute;
  margin-top: 100px;
  text-align: center;
  color: white;
  font-size: 2.5em;
  text-transform: uppercase;
  font-family: 'Fredoka One', cursive;
}


.portfolio, .portfolio a {
  font-size: 1.4em;
}

/*Beginning of the footer*/
footer {
  background-color: black;
  color: white;
  font-weight: bold;
}
