.jumbotron {
    padding-top: 30px;
    padding-bottom: 30px;
    margin-top: 10vh;
    border: solid white 4px;
    border-radius: 50px!important;
}

h1{
    margin-top: 0px;
    margin-bottom: 30px;
}

#question {
    margin-bottom: 30px;
    
}

#submit {
    margin-top: 15px;
    text-transform: uppercase;
    min-width: 100px;
    min-height: 60px;
    border-radius:50px;
    font-weight: bold;   
}

.list>div {
    color: white;
    margin-bottom: 10px;
    padding: 25px;
    min-width: 100%;
    background-color: rgba(255, 255, 255, 0.15);
    border-radius: 50px;
}
.list>div:hover {
    background-color: rgba(255, 255, 255, 0.25);

}

.questions.wrong,
.questions.wrong:hover{
    background-color: red;
}

.questions.correct,
.questions.correct:hover{
    background-color: green;
}

