body {
    padding-top: 70px;
}

h1 {
    font-size: 5em;
}

.btn {
    font-weight: 800;
}

.form-inline {
    margin: 40px 0px 40px 0px;
}

.form-control {
    min-width: 40%;
word-wrap: break-word;
}

.cork {
    display: flex;
    flex-wrap: wrap-reverse;
    background-image: url("/todo/img/cork.jpg");
    max-width: 70%;
    border-radius: 10px;
    margin: auto;
    /* reason is a mobile issue at the bottom */
    margin-bottom: 60px;
}

.list-unstyled li {
    background-image: url("/todo/img/stickynote.png");
    background-repeat: no-repeat;
    background-size: cover;
    color: black;
    font-size: 1.5em;
    max-width: 450px;
    min-width: 200px;
    margin: 10px;
    padding: 60px 30px 20px 10px;
}

span {
    color: firebrick;
    margin-left: 10px;
    font-size: 0.6em;
}

input[type='checkbox'] {
    margin-right: 10px;
}

.done {
    text-decoration: line-through;
    opacity: 0.5;
}
