body {
    background-image: url("movieposters.jpg");
    background-repeat: repeat;
}

.blackbox {
    padding-top: 10px;
    margin-top: 100px;
    background-color: black;
    border-radius: 25px;
    color: white;
    margin-bottom: 30px;
    border: 2px solid white;
    box-shadow: 5px 5px 20px 4px rgba(0, 0, 0, 0.65);
}

.newquote {
    margin-top: 10px;
}

.btn-primary,
.btn-primary:active,
.btn-primary:focus {
    margin-top: 10px;
    background-color: black;
    border: solid 3px white;
    margin-bottom: 20px;
}

@media screen and (max-width: 800px) {
    .container {
        width: 85%;
    }
    h1 {
        font-size: 24px;
        font-weight: 300;
    }
    .blackbox {
        margin-top: 60px;
    }
}